services:
    rmcgirr83.searchusertopics.listener:
        class: rmcgirr83\searchusertopics\event\listener
        arguments:
            - @auth
            - @config			
            - @dbal.conn
            - @template
            - @user
            - %core.root_path%
            - %core.php_ext%
        tags:
            - { name: event.listener }
